.header__cover--img{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.096)), url("../img/buy-images/header-background.png");
}

.heading{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    width: 80%;
}

.heading-2:first-child{
    padding: 0;
}

.box__image:hover .box__image--info.one{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.541)), url("../img/buy-images/property-1.png");
}

.box__image:hover .box__image--info.two{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.541)), url("../img/buy-images/property-2.png");
}

.box__image:hover .box__image--info.three{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.541)), url("../img/buy-images/property-3.png");
}

.box__image:hover .box__image--info.four{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.541)), url("../img/buy-images/property-4.png");
}

.box__image:hover .box__image--info.five{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.541)), url("../img/buy-images/property-5.png");
}

.box__image:hover .box__image--info.six{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.541)), url("../img/buy-images/property-6.png");
}

.box__image.one{
    background-image: url("../img/buy-images/property-1.png");
}

.box__image.two{
    background-image: url("../img/buy-images/property-2.png");
}

.box__image.three{
    background-image: url("../img/buy-images/property-3.png");
}

.box__image.four{
    background-image: url("../img/buy-images/property-4.png");
}

.box__image.five{
    background-image: url("../img/buy-images/property-5.png");
}

.box__image.six{
    background-image: url("../img/buy-images/property-6.png");
}

.footer__contact.buy{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.089)), url("../img/buy-images/contact-img.png");
}
