.header__cover--img{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.096)), url("../img/contact-images/");
}

.heading{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10rem;
    width: 80%;
}

.heading-2:first-child{
    padding: 0;
}

.main__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "section1 section2";
    height: 700px;
    justify-content: center;
    align-content: center;
}
.grid__section1 {
    grid-area: section1;
}
.grid__section2 {
    grid-area: section2;
}
.flexbox__table{
    display: flex;
    justify-content: center;
}

input {
    padding:10px;
    width: 100%;
}
input[type="submit"] {
    width: 150px;
    padding: 10px;
    background-color: black;
    color: white;

}
input[name="comments"] {
    height: 85px;
}
td>img{
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
}
.tabele__text__centar , .submit__centar{
    text-align: center;
}
.table__whith{
    width: 360px;
}
p{
    font-size: 15px;
    margin: 0 0 10px;
}
.header__cover--img{
    height: 50vh !important;
}
   @media (min-width: 768px) and (max-width: 1024px) {

        .main__grid {
            grid-row-gap: 50px;
            grid-template-columns:1fr;
            grid-template-areas:
                "section1"
                "section2";
            justify-content: center;
            align-content: center;
        }
    }

    @media only screen and (max-width: 768px)   {

        .main__grid {
            grid-row-gap: 50px;
            grid-template-columns:1fr;
            grid-template-areas:
                "section1"
                "section2";
            justify-content: center;
            align-content: center;
        }
    }
